/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 90%;
  padding: 20px; }
  footer .footer__nav {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #565656; }
    footer .footer__nav ul {
      display: flex; }
      footer .footer__nav ul li {
        padding: 0 25px;
        border-left: 1px solid #565656; }
    footer .footer__nav li:first-child {
      border: none; }
  footer .copyright {
    padding: 20px 0; }

header {
  width: 100%;
  border-bottom: 3px solid #c4d971;
  box-sizing: border-box; }
  @media screen and (max-width: 375px) {
    header {
      border-bottom: none; } }
  header .header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 10px auto; }
    @media screen and (max-width: 375px) {
      header .header {
        width: 100%;
        align-items: normal;
        flex-flow: column;
        margin: 10px auto; } }
    header .header__main-sp__search {
      display: none; }
    header .header__main-sp__menu {
      display: none; }
    @media screen and (max-width: 375px) {
      header .header__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 20px; }
        header .header__main-sp__search {
          display: block;
          width: 20px; }
        header .header__main__logo {
          width: 50%;
          height: 50%; }
        header .header__main-sp__menu {
          display: block;
          width: 25px;
          height: 30px; }
          header .header__main-sp__menu-line {
            background-color: green;
            width: 100%;
            height: 4px;
            margin: 4px 0; } }
    header .header__nav-top {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px; }
      @media screen and (max-width: 375px) {
        header .header__nav-top {
          display: none; } }
      header .header__nav-top__sns {
        display: flex;
        color: #aeaeae;
        font-size: 1.5em;
        align-items: center; }
        header .header__nav-top__sns li {
          margin: 0 10px; }
      header .header__nav-top .search {
        display: flex; }
        header .header__nav-top .search__word {
          width: 260px;
          font-size: 140%;
          margin-left: 10px;
          border: 1px solid #aeaeae;
          border-radius: 6px 0 0 6px; }
    header .header__nav-bottom {
      text-align: center;
      color: #fff;
      background-color: #5f9c21;
      border-radius: 22px;
      padding: 10px; }
      @media screen and (max-width: 375px) {
        header .header__nav-bottom {
          padding: 0;
          width: 100%;
          text-align: left;
          border-radius: 0;
          color: #000;
          background-color: #e8e8e8;
          padding-left: 0; } }
      header .header__nav-bottom ul {
        display: flex; }
        @media screen and (max-width: 375px) {
          header .header__nav-bottom ul {
            flex-flow: column; } }
      header .header__nav-bottom__items {
        padding: 0 15px;
        font-size: 90%; }
        header .header__nav-bottom__items:first-child {
          display: none; }
        @media screen and (max-width: 375px) {
          header .header__nav-bottom__items {
            padding: 10px 0 10px 10px;
            border-top: 0.5px solid #aeaeae;
            font-size: 1.1em; }
            header .header__nav-bottom__items:first-child {
              display: block; } }

.keyvisual {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background: url("/assets/img/back.jpg") repeat-x; }
  @media screen and (max-width: 375px) {
    .keyvisual {
      background: none;
      text-align: left; } }
  .keyvisual img {
    width: 1200px;
    padding: 20px 0 50px 0; }
    @media screen and (max-width: 375px) {
      .keyvisual img {
        width: 100%;
        padding: 0 0 20px 0; } }
  .keyvisual .message {
    width: 900px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: -150px auto 150px;
    z-index: 99;
    color: #666;
    padding: 10px;
    border-radius: 5px; }
    @media screen and (max-width: 375px) {
      .keyvisual .message {
        display: none; } }
  .keyvisual .message-sp {
    display: none; }
    @media screen and (max-width: 375px) {
      .keyvisual .message-sp {
        display: block;
        color: #666;
        line-height: 1.5em;
        font-size: 110%;
        padding: 0 10px; } }

main {
  width: 1200px;
  margin: 30px auto; }
  @media screen and (max-width: 375px) {
    main {
      width: 100%; } }
  main .recommends {
    display: flex;
    flex-flow: column;
    align-items: center; }
    main .recommends__title {
      text-align: center;
      color: #fff;
      background-color: #5f9c21;
      border-radius: 22px;
      padding: 10px 10px 10px 10px; }
      @media screen and (max-width: 375px) {
        main .recommends__title {
          display: none; } }
    main .recommends__title-sp {
      display: none; }
      @media screen and (max-width: 375px) {
        main .recommends__title-sp {
          display: flex;
          justify-content: center;
          width: 100%;
          color: #fff;
          background-color: #5f9c21;
          padding: 10px;
          box-sizing: border-box; } }
      main .recommends__title-sp__pu {
        display: none; }
        @media screen and (max-width: 375px) {
          main .recommends__title-sp__pu {
            display: inline;
            color: #fff;
            font-size: 60%;
            border: 1px solid #fff;
            padding: 5px 10px;
            margin-right: 20px; } }
    main .recommends__wrap {
      display: flex;
      margin-top: 20px;
      line-height: 1.3em; }
      @media screen and (max-width: 375px) {
        main .recommends__wrap {
          flex-flow: column; } }
      main .recommends__wrap .recommend__list {
        position: relative; }
        @media screen and (max-width: 375px) {
          main .recommends__wrap .recommend__list {
            width: 100%;
            margin: 0;
            padding: 10px;
            box-sizing: border-box; }
            main .recommends__wrap .recommend__list:nth-child(4) {
              display: none; }
            main .recommends__wrap .recommend__list:nth-child(5) {
              display: none; } }
        @media screen and (max-width: 375px) {
          main .recommends__wrap .recommend__list a {
            display: flex; } }
        main .recommends__wrap .recommend__list a img {
          width: 224px;
          height: 160px;
          margin-bottom: 10px;
          transition: 0.1s linear; }
          @media screen and (max-width: 375px) {
            main .recommends__wrap .recommend__list a img {
              width: 140px;
              height: 100px;
              margin-right: 5px; } }
        main .recommends__wrap .recommend__list a .img-exp {
          color: #fff;
          position: absolute;
          top: 10px;
          right: 15px;
          padding: 2px 5px 0; }
          @media screen and (max-width: 375px) {
            main .recommends__wrap .recommend__list a .img-exp {
              right: initial;
              left: 15px; } }
      main .recommends__wrap .recommend__list:hover img {
        opacity: 0.8; }
      main .recommends__wrap .recommend__list:hover p {
        color: #5f9c21; }
  main .contents {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; }
    @media screen and (max-width: 375px) {
      main .contents {
        flex-flow: column;
        align-items: center; } }
    main .contents .contents-left {
      width: 300px; }
      @media screen and (max-width: 375px) {
        main .contents .contents-left {
          width: 80%; } }
      main .contents .contents-left .category {
        margin-bottom: 20px; }
        main .contents .contents-left .category .cat__list {
          padding: 10px 15px 10px 15px;
          border-bottom: 1px solid #e8e8e8; }
          main .contents .contents-left .category .cat__list:hover {
            color: #5f9c21; }
          @media screen and (max-width: 375px) {
            main .contents .contents-left .category .cat__list {
              position: relative;
              font-size: 120%;
              border: 1px solid #e8e8e8;
              margin-bottom: 2px;
              padding-left: 35px; }
              main .contents .contents-left .category .cat__list:after {
                content: '';
                position: absolute;
                top: 15px;
                left: 10px;
                width: 7px;
                height: 7px;
                border-top: 2px solid #5f9c21;
                border-right: 2px solid #5f9c21;
                transform: rotate(45deg); } }
      main .contents .contents-left .advertise {
        margin-bottom: 20px;
        transition: 0.1s linear; }
        main .contents .contents-left .advertise:nth-child(2) {
          display: none; }
        @media screen and (max-width: 375px) {
          main .contents .contents-left .advertise:first-child {
            display: none; }
          main .contents .contents-left .advertise:nth-child(2) {
            display: block; } }
        main .contents .contents-left .advertise:hover {
          opacity: 0.8; }
    main .contents .contents-center {
      width: 620px; }
      main .contents .contents-center li {
        margin: 40px 0;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 30px;
        line-height: 1.8em; }
        main .contents .contents-center li a {
          width: 100%; }
        main .contents .contents-center li .article-left img {
          width: 240px; }
        main .contents .contents-center li .article-right {
          width: 350px; }
          main .contents .contents-center li .article-right h2 {
            margin-bottom: 10px; }
          main .contents .contents-center li .article-right .writer {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px; }
            main .contents .contents-center li .article-right .writer img {
              width: 50px; }
            main .contents .contents-center li .article-right .writer .circle-img {
              border-radius: 50px; }
            main .contents .contents-center li .article-right .writer__info {
              width: 150px;
              color: #ff7800; }
            main .contents .contents-center li .article-right .writer__date {
              width: 100px;
              color: #a8a8a8; }
        main .contents .contents-center li:hover .hover-color {
          color: #5f9c21; }
      main .contents .contents-center .other-articles a {
        background-color: #43cc00;
        border-radius: 6px;
        border: 2px solid #43cc00;
        color: #fff;
        padding: 15px 190px 15px 190px;
        transition: 0.1s linear; }
        main .contents .contents-center .other-articles a:hover {
          background-color: #fff;
          border: 2px solid #43cc00;
          color: #43cc00; }
    main .contents .contents-right {
      width: 200px; }
      main .contents .contents-right .sns__share {
        background-color: #e8e8e8;
        margin-bottom: 20px;
        padding: 5px 10px 0px 10px; }
        main .contents .contents-right .sns__share .hatena {
          margin-top: 20px; }
        main .contents .contents-right .sns__share .tw-fb-wrap {
          display: flex;
          justify-content: space-between; }
      main .contents .contents-right div {
        margin-bottom: 5px; }
      main .contents .contents-right img {
        width: 200px; }
      main .contents .contents-right .side__tags {
        width: 200px;
        border: 1px solid #e8e8e8; }
        main .contents .contents-right .side__tags h3 {
          border-radius: 0; }
        main .contents .contents-right .side__tags .tag__list {
          font-size: 10px;
          padding: 10px 15px 10px 15px;
          word-break: break-word; }

.recommend__list {
  width: 224px;
  font-size: 90%;
  margin-left: 20px; }

.red-box {
  background-color: red;
  opacity: 0.8; }

.blue-box {
  background-color: blue;
  opacity: 0.8; }

.green-box {
  background-color: green;
  opacity: 0.8; }

.cyan-box {
  background-color: cyan;
  opacity: 0.8; }

.scroll-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: #aeaeae;
  color: #fff;
  border-radius: 5px;
  font-size: 80%;
  width: 50px;
  height: 30px;
  padding-top: 7px;
  text-align: center; }

.p-article-wrap {
  display: flex;
  justify-content: space-between; }

.middle {
  align-items: center; }

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  width: 224px;
  font-size: 120%; }
  @media screen and (max-width: 375px) {
    h1 {
      font-size: 160%; } }

h2 {
  font-size: 130%;
  text-decoration: underline; }

h3 {
  font-size: 120%;
  background-color: #eee;
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  margin-bottom: 10px; }
  @media screen and (max-width: 375px) {
    h3 {
      color: #fff;
      font-size: 160%;
      background-color: #5f9c21;
      border-radius: 0; } }

.icon-yellow {
  color: yellow;
  margin-right: 5px; }
  @media screen and (max-width: 375px) {
    .icon-yellow {
      color: #000;
      margin-right: 10px; } }

.wrapper {
  margin: 0 auto; }
