.recommend__list {
    width: 224px;
    font-size: 90%;
    margin-left: 20px;
}

.red-box {
    background-color: red;
    opacity: 0.8;
}

.blue-box {
    background-color: blue;
    opacity: 0.8;
}

.green-box {
    background-color: #5dbd00;
    opacity: 0.8;
}

.cyan-box {
    background-color: cyan;
    opacity: 0.8;
}