<footer>
    <div class="footer__nav">
        <ul>
            <li>トップ</li>
            <li>最新記事</li>
            <li>ハローNEWSとは</li>
            <li>事業紹介</li>
            <li>ビジョン</li>
            <li>会社概要</li>
            <li>個人情報保護</li>
            <li>お問い合わせ</li>
            <li>サイトマップ</li>
        </ul>
    </div>
    <div class="footer__nav-sp">
        <ul>
            <li>ハローワールドとは</li>
            <li>事業紹介</li>
            <li>ビジョン</li>
            <li>会社概要</li>
        </ul>
    </div>
    <div class="copyright">COPYRIGHT © HelloWorld co.,ltd. ALL RIGHTS RESERVED.</div>
    <div class="sp-footer">
        <p class="sp-footer__scroll-btn">PAGE TOP</p>
        <div class="sp-footer__add-home">
            <img src="/assets/img/addHome.png" alt="">
            <div class="sp-footer__add-home__msg">
                <p class="sp-footer__add-home__msg-1">ホーム画面追加のおすすめ</p>
                <p class="sp-footer__add-home__msg-2">ハローワールドをホーム画面に追加して新しい情報をチェック</p>
            </div>
        </div>
    </div>
</footer>