<footer>
    <div class="footer__nav">
        <ul>
            <li>トップ</li>
            <li>最新記事</li>
            <li>ハローNEWSとは</li>
            <li>事業紹介</li>
            <li>ビジョン</li>
            <li>会社概要</li>
            <li>個人情報保護</li>
            <li>お問い合わせ</li>
            <li>サイトマップ</li>
        </ul>
    </div>
    <div class="copyright">COPYRIGHT © HelloWorld co.,ltd. ALL RIGHTS RESERVED.</div>
</footer>