.flex {
    display: flex;

    @include mq(sp) {
        flex-flow: column;
    }
}

.middle {
    align-items: center;
}

.column {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}