a {
    text-decoration: none;
    color: inherit;
}

h1 {
    width: 224px;
    font-size: 120%;

    @include mq(sp) {
        font-size: 160%;
    }
}

h2 {
    font-size: 130%;
    text-decoration: underline;
    
    @include mq(sp) {
        font-size: 100%;
        text-decoration: none;
        line-height: 1.5em;
    }
}

h3 {
    font-size: 120%;
    background-color: #eee;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    margin-bottom: 10px;

    @include mq(sp) {
        color: #fff;
        font-size: 160%;
        background-color: $main-green;
        border-radius: 0;
        padding-left: 10px;
    }
}

.icon-yellow {
    color: yellow;
    margin-right: 5px;

    @include mq(sp) {
        color: #000;
        margin-right: 10px;
    }
}