footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 90%;
    padding: 20px;

    @include mq(sp) {
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        color: #000;
        padding: 20px 0 0 0;
    }

    .footer__nav {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #565656;

        @include mq(sp) {
            display: none;
        }

        ul {
            display: flex;

            @include mq(tb) {
                flex-wrap: wrap;
            }

            li {
                padding: 0 25px;
                border-left: 1px solid #565656;

                @include mq(tb) {
                    border: none;
                    padding: 15px 25px;
                }
            }
        }

        li:first-child {
            border: none;
        }
    }

    .footer__nav-sp {
        display: none;

        @include mq(sp) {
            display: block;
            margin-bottom: 20px;

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    padding: 0 10px;
                    border-left: 1px solid #565656;
                    font-size: 10px;
                    color: #888;

                    &:first-child {
                        border: none;
                    }
                }
            }
        }
    }

    .copyright {
        padding: 20px 0;

        @include mq(sp) {
            width: 100%;
            border-top: 1px solid #565656;
            text-align: center;
            font-size: 10px;
            color: #888;
        }

        @include mq(tb) {
            font-size: 12px;
        }
    }

    .sp-footer{
        display: none;

        @include mq(sp) {
            display: block;
            width: 100%;
            background-color: #000;
            text-align: center;
            padding: 20px 2px 5px 0;
            box-sizing: border-box;

            &__scroll-btn {
                color: #fff;
                padding-bottom: 20px;
            }

            &__add-home {
                background-color: #fff;
                border-radius: 5px;
                display: flex;
                padding: 5px;
                box-sizing: border-box;

                img {
                    width: 60px;
                    height: 60px;
                    margin-right: 7px;
                }

                &__msg {
                    text-align: left;
                    line-height: 1.5em;

                    &-1 {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}