header {
    width: 100%;
    border-bottom: 3px solid #c4d971;
    box-sizing: border-box;

    @include mq(sp) {
        position: fixed;
        background-color: #fff;
        border-bottom: none;
        margin-top: -70px;
        z-index: 99;
    }

    @include mq(tb) {
        position: relative;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 10px auto 0;

        @include mq(sp) {
            width: 100%;
            align-items: normal;
            flex-flow: column;
            margin: 10px auto 0;
        }

        @include mq(tb) {
            width: 100%;
            flex-flow: column;
            margin: 0 auto;
        }

        &__main-tb {
            display: none;

            @include mq(tb) {
                position: fixed;
                width: 100%;
                height: 47px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;
                box-sizing: border-box;
                background-color: #369601;
                color: #fff;
                font-size: 16px;
                z-index: 100;

                &__title {
                    margin-left: 10px;
                }
            }
        }

        &__main {

            &-sp__search {
                display: none;
            }

            &-sp__menu {
                display: none;
            }

            @include mq(sp) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                box-sizing: border-box;
                margin-bottom: 20px;

                &-sp__search {
                    display: block;
                    width: 20px;
                }

                &__logo {
                    width: 50%;
                    height: 50%;
                }

                &-sp__menu {
                    display: block;
                    width: 25px;
                    height: 30px;

                    &-line {
                        background-color: green;
                        width: 100%;
                        height: 4px;
                        margin: 4px 0;
                    }
                }
            }

            @include mq(tb) {
                margin: 100px auto 20px;
            }
        }

        &__nav {
            @include mq(tb) {
                width: 100%;
                display: flex;
                flex-flow: column;
            }
        }
        
        &__nav-top {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            @include mq(sp) {
                display: none;
            }

            @include mq(tb) {
                justify-content: flex-start;
                margin: 0 0 30px 30px;
            }
            
            &__sns {
                display: flex;
                color: #aeaeae;
                font-size: 1.5em;
                align-items: center;

                @include mq(tb) {
                    display: none;
                }
        
                li {
                    margin: 0 10px;
                }
            }
            
            .search {
                display: flex;
    
                &__word {
                    width: 260px;
                    font-size: 140%;
                    margin-left: 10px;
                    border: 1px solid #aeaeae;
                    border-radius: 6px 0 0 6px;
                }
            }
        }

        &__nav-bottom {
            text-align: center;
            color: #fff;
            background-color: #5f9c21;
            border-radius: 22px;
            padding: 10px;

            @include mq(sp) {
                padding: 0;
                width: 100%;
                border-radius: 0;
                color: #000;
                background-color: #e8e8e8;
                padding-left: 0;
                display: none;
            }

            @include mq(tb) {
                display: none;
                width: 100%;
                border-radius: 0;
                text-align: left;
                background-color: #369601;
                position: absolute;
                top: 47px;
                padding: 10px 0;

            }
            
            ul {
                display: flex;

                @include mq(sp) {
                    flex-flow: column;
                }

                @include mq(tb) {
                    flex-flow: column;
                }
            }
            
            &__items {
                padding: 0 15px;
                font-size: 90%;

                &:first-child {
                    display: none;
                }

                @include mq(sp) {
                    &:first-child {
                        display: block;
                    }
                    padding: 10px 0 10px 10px;
                    border-top: 0.5px solid #aeaeae;
                    font-size: 1.1em;
                }

                @include mq(tb) {
                    font-size: 14px;
                    padding: 10px 60px;
                    border-bottom: 1px dotted #b2db80;
                    text-align: left;
                }
            }
        }
    }
}
