.keyvisual {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background: url('/assets/img/back.jpg') repeat-x;

    @include mq(sp) {
        background: none;
        text-align: left;
        margin-top: 70px;
    }

    img {
        width: 1200px;
        padding: 20px 0 50px 0;

        @include mq(sp) {
            width: 100%;
            padding: 0 0 20px 0;
        }
    }

    .message {
        width: 900px;
        background-color: rgba(255, 255, 255, 0.8);
        margin: -150px auto 150px;
        z-index: 99;
        color: #666;
        padding: 10px;
        border-radius: 5px;

        @include mq(sp) {
            display: none;
        }
    }

    .message-sp {
        display: none;

        @include mq(sp) {
            display: block;
            color: #666;
            line-height: 1.5em;
            font-size: 110%;
            padding: 0 10px;
        }
    }
}