main {
    width: 1200px;
    margin: 30px auto;

    @include mq(sp) {
        width: 100%;
    }

    .recommends {
        display: flex;
        flex-flow: column;
        align-items: center;

        &__title {
            text-align: center;
            color: #fff;
            background-color: $main-green;
            border-radius: 22px;
            padding: 10px 10px 10px 10px;

            @include mq(sp) {
                display: none;
            }
        }

        &__title-sp {
            display: none;

            @include mq(sp) {
                display: flex;
                justify-content: center;
                width: 100%;
                color: #fff;
                background-color: $main-green;
                padding: 10px;
                box-sizing: border-box;
            }

            &__pu {
                display: none;

                @include mq(sp) {
                    display: inline;
                    color: #fff;
                    font-size: 60%;
                    border: 1px solid #fff;
                    padding: 5px 10px;
                    margin-right: 20px;
                }
            }
        }
        
        &__wrap {
            display: flex;
            margin-top: 20px;
            line-height: 1.3em;

            @include mq(sp) {
                flex-flow: column;
            }

            .recommend__list {
                position: relative;

                @include mq(sp) {
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                    box-sizing: border-box;

                    &:nth-child(4) {
                        display: none;
                    }

                    &:nth-child(5) {
                        display: none;
                    }
                }

                a {
                    @include mq(sp) {
                        display: flex;
                    }

                    img {
                        width: 224px;
                        height: 160px;
                        margin-bottom: 10px;
                        transition: 0.1s linear;

                        @include mq(sp) {
                            width: 140px;
                            height: 100px;
                            margin-right: 5px;
                        }
                    }
                    
                    .img-exp {
                        color: #fff;
                        position: absolute;
                        top: 10px;
                        right: 15px;
                        padding: 2px 5px 0;

                        @include mq(sp) {
                            right: initial;
                            left: 15px;
                        }
                    }
                }
            }

            .recommend__list:hover {
                img {
                    opacity: $hover-opacity;
                }

                p {
                    color: $hover-green;
                }
            }
        }
    }

    .contents {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        @include mq(sp) {
            flex-flow: column;
            align-items: center;
        }

        .contents-left {
            width: 300px;

            @include mq(sp) {
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
            }

            .category {
                margin-bottom: 20px;

                @include mq(sp) {
                    width: 80%;
                }
                
                .cat__list {
                    padding: 10px 15px 10px 15px;
                    border-bottom: 1px solid #e8e8e8;

                    &:hover {
                        color: $hover-green;
                    }

                    @include mq(sp) {
                        position: relative;
                        font-size: 120%;
                        border: 1px solid #e8e8e8;
                        margin-bottom: 2px;
                        padding-left: 35px;

                        &:after {
                            content: '';
                            position: absolute;
                            top: 15px;
                            left: 10px;
                            width: 7px;
                            height: 7px;
                            border-top: 2px solid #5f9c21;
                            border-right: 2px solid #5f9c21;
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            .advertise {
                margin-bottom: 20px;
                transition: 0.1s linear;

                &:nth-child(2) {
                    display: none;
                }

                @include mq(sp) {
                    &:first-child {
                        display: none;
                    }
                    
                    &:nth-child(2) {
                        display: block;
                    }
                }

                &:hover {
                    opacity: $hover-opacity;
                }
            }
            
            .ranking {
                @include mq(sp) {
                    width: 100%;
                }
            }
        }
        
        .contents-center {
            width: 620px;

            @include mq(sp) {
                width: 100%;

                article {
                    width: 95%;
                    margin: 0 auto;
                }
            }
    
            li {
                margin: 40px 0;
                border-bottom: 1px solid #e8e8e8;
                padding-bottom: 30px;
                line-height: 1.8em;
                
                a {
                    width: 100%;
                }
    
                    .article-left {
                        @include mq(sp) {
                            width: 45%;
                            margin-right: 7px;
                        }

                        img {
                            width: 240px;
                        }
                    }
            
                    .article-right {
                        width: 350px;

                        h2 {
                            margin-bottom: 10px;
                        }

                        .writer {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;

                            @include mq(sp) {
                                display: none;
                            }

                            img {
                                width: 50px;
                            }

                            .circle-img {
                                border-radius: 50px;
                            }
    
                            &__info {
                                width: 150px;
                                color: #ff7800;
                            }
    
                            &__date {
                                width: 100px;
                                color: #a8a8a8;
                            }
                        }
                        
                        p {
                            @include mq(sp) {
                                display: none;
                            }
                        }
                    }

                    &:hover {
                        .hover-color {
                            color: $hover-green;
                        }
                    }
                }

            .other-articles {
                a {
                    background-color: #43cc00;
                    border-radius: 6px;
                    border: 2px solid #43cc00;
                    color: #fff;
                    padding: 15px 190px 15px 190px;
                    transition: 0.1s linear;

                    &:hover {
                        background-color: #fff;
                        border: 2px solid #43cc00;
                        color: #43cc00;
                    }
                }

                @include mq(sp) {
                    display: none;
                }
            }
        }
    
        
        .contents-right {
            width: 200px;

            @include mq(sp) {
                width: 100%;

                .column__link {
                    display: none;
                }
            }

            .sns__share {
                background-color: #e8e8e8;
                margin-bottom: 20px;
                padding: 5px 10px 0px 10px;

                .hatena {
                    margin-top: 20px;
                }

                .tw-fb-wrap {
                    display: flex;
                    justify-content: space-between;
                }
            }

            div {
                margin-bottom: 5px;
            }

            img {
                width: 200px;
            }

            .side__tags {
                width: 200px;
                border: 1px solid #e8e8e8;

                @include mq(sp) {
                    width: 100%;
                    border: none;
                }

                h3 {
                    border-radius: 0;
                }

                .tag__list{
                    font-size: 10px;
                    padding: 10px 15px 10px 15px;
                    word-break: break-word;

                    @include mq(sp) {
                        font-size: 100%;
                    }
                }
            }
        }

    }
}